{% extends 'base.html.twig' %}

{% block body %}
    <h1>Maquina</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maquina.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ maquina.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ maquina.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('maquina_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('maquina_edit', { 'id': maquina.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
