{% extends 'base.html.twig' %}

{% block body %}
    <h1>ImagenProyecto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imagenProyecto.id }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ imagenProyecto.imagen }}</td>
            </tr>
            <tr>
                <th>Etiqueta</th>
                <td>{{ imagenProyecto.etiqueta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagenproyecto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('imagenproyecto_edit', { 'id': imagenProyecto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
